.counter {
  text-align: center;
}

.counter-btn button {
  padding: 4px 12px;
  font-size: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.todos {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-input {
  padding: 8px;
  font-size: 1.5rem;
}

.todo-list {
  margin-top: 2rem;
  font-size: 2rem;
  list-style-type: none;
}

.todo-item {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}

.todo-item button {
  padding: 4px 8px;
  font-size: 1rem;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #999;
}
